nav {
    text-align: center;
}

.navbar {
    color: black;
    background-color: black;
}

.nav-link {
    color: white;
    transition: transform 0.1s;
}


.nav-link:hover {
    color: white;
    transform: scale(1.2);
}


.navbar-toggler-icon {
    background-color: gold;
}